<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Instagram</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="container">
          

            <div class="group">
                <div>
                    <h1>Equipe - 913B</h1>
                </div>
                <div class="students">
                    <div class="student">

                        <div class="profile-student">
                            <img src="./img/filipe.jpg" alt="Foto perfil"/>
                        </div>
                        
                        <p>Filipe Zaidan</p>
                    </div>
                    <div class="student">

                        <div class="profile-student">
                            <img src="./img/david.jpg" alt="Foto perfil"/>
                        </div>
                        
                        <p>David Glauber</p>
                    </div>
                    <div class="student">

                        <div class="profile-student">
                            <img src="./img/rodrigo.jpg" alt="Foto perfil"/>
                        </div>
                        
                        <p>Rodrigo Cézar</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>